/*
 styles from https://codepen.io/brenden/pen/Kwbpyj
*/
* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
a {
  text-decoration: none;
  color: inherit;
}
p {
  font-size: 1.1em;
  margin: 1em 0;
}

body {
  margin: 1.5em auto;
  color: #333;
  background-color: #ddd;
  padding: 1em;
}
h1 {
  font-weight: 400;
  font-size: 2.5em;
}
ul {
  list-style: none;
  padding: 0;
}
ul .inner {
  padding-left: 1em;
  overflow: hidden;
  display: none;
}
ul .inner.show {
  /*display: block;*/
}
ul li {
  margin: .5em 0;
}
ul li a.toggle {
  width: 100%;
  display: block;
  background: rgba(130, 130, 171, 1);
  color: #fefefe;
  padding: .75em;
  border-radius: 0.15em;
  transition: background .3s ease;
}
ul li a.toggle:hover {
  background: rgba(130, 130, 171, 0.5);
}

/*
 end accordion styles
*/


.imageWrapper {
  float: left;
  background: #fff;
  padding: 0.5em;
  margin: 0.5em;
  cursor: pointer;
}

.notLoaded {
  display: none;
}

.imageWrapper img {
  width: 300px;
}

.imageWrapper p {
  text-align: center;
  margin: 0px;
  font-size: 0.8em;
}

ul li a.hour {
  background: rgba(130, 171, 130, 1);
}

ul li a.hour:hover {
  background: rgba(130, 171, 130, 0.5);
}

#modal {
  position: fixed;
  top: 5%;
  left: 5%;
  width: 90%;

}

#modal img {
  width: 100%;
}

#modalClose, #modalLeft, #modalRight {
  font-size: 75px;
  position: fixed;
  cursor: pointer;
}

#modalClose {
  top: 5%;
  left: 5%;
  margin: -45px 0px 0px -45px;
}

#modalLeft {
  top: 50%;
  margin-left: -65px;
}

#modalRight {
  top: 50%;
  left: 95%;
  margin-left: -10px;
}
